<figure class="figure">
    <img src="../../../assets/images/pos1.jpeg"
    class="figure-img img-fluid rounded img-thumbnail" style="max-width: 200px;margin: 10px;" alt="...">
    <figcaption class="figure-caption">Super Mario Bros.</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i>4.1/10</figcaption>
  </figure>
  <figure class="figure">
    <img src="../../../assets/images/pos1.jpeg"
    class="figure-img img-fluid rounded img-thumbnail" style="max-width: 200px;margin: 10px;" alt="...">
    <figcaption class="figure-caption">Super Mario Bros.</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i>4.1/10</figcaption>
  </figure>
  <figure class="figure">
    <img src="../../../assets/images/pos1.jpeg"
    class="figure-img img-fluid rounded img-thumbnail" style="max-width: 200px;margin: 10px;" alt="...">
    <figcaption class="figure-caption">Super Mario Bros.</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i>4.1/10</figcaption>
  </figure>
  <figure class="figure">
    <img src="../../../assets/images/pos1.jpeg"
    class="figure-img img-fluid rounded img-thumbnail" style="max-width: 200px;margin: 10px;" alt="...">
    <figcaption class="figure-caption">Super Mario Bros.</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i>4.1/10</figcaption>
  </figure>
  <figure class="figure">
    <img src="../../../assets/images/pos1.jpeg"
    class="figure-img img-fluid rounded img-thumbnail" style="max-width: 200px;margin: 10px;" alt="...">
    <figcaption class="figure-caption">Super Mario Bros.</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i>4.1/10</figcaption>
  </figure>
  <figure class="figure">
    <img src="../../../assets/images/pos1.jpeg"
    class="figure-img img-fluid rounded img-thumbnail" style="max-width: 200px;margin: 10px;" alt="...">
    <figcaption class="figure-caption">Super Mario Bros.</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i>4.1/10</figcaption>
  </figure>
  <figure class="figure">
    <img src="../../../assets/images/pos1.jpeg"
    class="figure-img img-fluid rounded img-thumbnail" style="max-width: 200px;margin: 10px;" alt="...">
    <figcaption class="figure-caption">Super Mario Bros.</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i>4.1/10</figcaption>
  </figure>
  <figure class="figure">
    <img src="../../../assets/images/pos1.jpeg"
    class="figure-img img-fluid rounded img-thumbnail" style="max-width: 200px;margin: 10px;" alt="...">
    <figcaption class="figure-caption">Super Mario Bros.</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i>4.1/10</figcaption>
  </figure>
  <figure class="figure">
    <img src="../../../assets/images/pos1.jpeg"
    class="figure-img img-fluid rounded img-thumbnail" style="max-width: 200px;margin: 10px;" alt="...">
    <figcaption class="figure-caption">Super Mario Bros.</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i>4.1/10</figcaption>
  </figure>